FRAU_DEPLOY_HOST=example.com
FRAU_DEPLOY_USER=static_user
FRAU_DEPLOY_PASSWORD=
FRAU_DEPLOY_KEY_PATH=
FRAU_DEPLOY_PATH=/var/www/static_user/data/www/frau-waffel.com
FRAU_DEPLOY_REPO=https://github.com/primocreatus/frauwaffel.git
FRAU_DEPLOY_BRANCH=main
